/* SearchBar.css */
.search-bar-container {
    background: white;
    border-radius: 0.75rem;
    box-shadow: 0 20px 25px -5px rgba(155, 155, 155, 0.1);
    padding: 1rem;
    border:1px solid #e6e6e6;
    margin-bottom: 2rem;
  }
  
  .price-selector select,
  .beds-selector select,
  .completion-selector select {
    appearance: none;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    outline: none;
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  }
  
  .price-selector select:focus,
  .beds-selector select:focus,
  .completion-selector select:focus {
   
    border: 2px solid #00A3FF;

  }
  
  @media (max-width: 768px) {
    .search-bar-container .price-selector,
    .search-bar-container .beds-selector,
    .search-bar-container .completion-selector {
      width: 100%;
    }
  }